<!--Header Start-->
<header>

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="">
                <h2 class="fw-bold  mb-2 mb-lg-0 mb-sm-0">PNP</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="bi bi-list"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dTable">Data Table</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Scanner</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--Navbar End-->
</header>

<body>
<h1>test</h1>
</body>
