<header>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                darkb: '#375172 ',
                darkerb: '#384967 ',
                pnp: '#6587b0',
              }
            }
          }
        }
      </script>
  </header>
  <body>
    
  </body>