<div class="flex">
  <div class="w-1/4 bg-gray-800 text-white">
    <ul class="py-4">
      <a href="/dashboard"> <li  class="px-4 py-2 hover:bg-gray-700">Dashboard</li></a>
      <a href="/DataTable"> <li class="px-4 py-2 hover:bg-gray-700">Data Table List</li></a>
      <a href="/create"> <li class="px-4 py-2 hover:bg-gray-700">Create New Data</li></a>
      <a href="#"> <li class="px-4 py-2 hover:bg-gray-700">Scanner</li></a>
    </ul>
  </div>
</div>

