<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="Website Icon" type="png" href="logo_npd.png" />
  <title> Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/index_style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>

  <style>
    .activeDropDown {
      /* Your active styles */
      background-color: #4CAF50;
      color: white;
    }
  </style>

</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <img src="pnp-male.jpg" alt="" class="circle-image">
      <% if (user.usertype==='Admin' ) { %>
        <span class="logo_name">
          <%= user.firstName%>
            <p style="font-size: small;">(Admin)</p>
        </span>

    </div>
    <ul class="nav-links">
      <li>
        <a href="/index" id="home-link" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a id="datatable-link" href="/DataTable">
          <i class='bx bx-table'></i>
          <span class="links_name">Records</span>
        </a>
      </li>
      <li>
        <a id="scanner-link" href="/scanner">
          <i class='bx bx-scan'></i>
          <span class="links_name">Scanner</span>
        </a>
      </li>
      <li>
        <a id="admin-table-link" href="/admin/table">
          <i class='bx bx-user'></i>
          <span class="links_name">Manager</span>
        </a>
      </li>
      <li>
        <a href="/help">
          <i class='bx bx-book'></i>
          <span class="links_name">Help</span>
        </a>
      </li>

      <li class="log_out">
        <a id="logout-link" href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <% } else { %>

    <span class="logo_name">
      <%= user.firstName%>
      <p style="font-size: small;">(Manager)</p>
    </span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/profile/<%= user._id%>" id="home-link" class="active">
          <i class='bx bx-user'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li>
        <a href="/index" id="home-link" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a id="datatable-link" href="/DataTable">
          <i class='bx bx-table'></i>
          <span class="links_name">Records</span>
        </a>
      </li>
      <li>
        <a id="scanner-link" href="/scanner">
          <i class='bx bx-scan'></i>
          <span class="links_name">Scanner</span>
        </a>
      </li>
      <li>
        <a href="/help">
          <i class='bx bx-book'></i>
          <span class="links_name">Help</span>
        </a>
      </li>

      <li class="log_out">
        <a id="logout-link" href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
    </div>
    <% } %>
      <!-- Current Active Link -->
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
          </div>

        </nav>


        <div class="home-content2">
          <form onsubmit="handleFilterSubmit(event)" class="custom-form3">
            <div style="display: none;">
              <input id="startDate" name="startDate" class="custom-input3" required>
              <input id="endDate" name="endDate" class="custom-input3" required>
            </div>
            <div>
              <select id="monthDropdown" class="custom-dropdown3">
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <a href="/index" class="custom-button secondary" id="resetButton">Reset</a>
            </div>
          </form>


          <div class="dashboard_content">


            <div class="content">
              <!-- Main Content -->
              <div class="main-content">


                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px;">
                    <h2 class="heading">Total NO. of Guns</h2>
                    <div id="chart1"></div>
                  </div>

                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px;">
                    <h2 class="heading">Total Cost</h2>
                    <div id="chart2"></div>
                  </div>

                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px;">
                    <h2 class="heading">Authorized Users</h2>
                    <div id="chart3"></div>
                  </div>

                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px;">
                    <h2 class="heading">Losses</h2>
                    <div id="chart4"></div>
                  </div>

                </div>


                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px; height: 1100px; width: 50%;">
                    <h2 class="heading">Total No. of Officers per Rank</h2>
                    <div id="chart5"></div>


                    <hr>
                    <h2 class="heading">Monthly Unscanned per Rank</h2>
                    <div id="chart8"></div>

                  </div>



                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px; height: 1100px;width: 50%;">
                    <h2 class="heading">Total No. of Guns per Gun Name</h2>
                    <div id="chart6"></div>

                    <hr>
                    <h2 class="heading">Gun Type Archived Frequency Monitoring</h2>
                    <div id="chart9"></div>
                  </div>

                  <div class="product-bottom-chart-left top-chart-box" style="width: 300px; height: 1100px;width: 45%;">
                    <h2 class="heading">Table: No. of Guns per Gun Name</h2>
                    <div id="chart7"></div>

                    <hr>
                    <h2 class="heading">Number of Guns per Gun Type</h2>
                    <div id="chart10"></div>
                  </div>

                </div>

                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px; height: 525px; width: 50%;">
                    <h2 class="heading">Officers Losses per Rank </h2>
                    <div id="chart11"></div>

                  </div>

                  <div class="product-bottom-chart-left top-chart-box" style="margin-right: 5px; height: 525px; width: 50%;">
                    <h2 class="heading">Officers Losses per office</h2>
                    <div id="chart12"></div>

                  </div>

                </div>

                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box"
                    style="margin-right: 5px; height: 525px; width: 50%;">
                    <h2 class="heading">Total Cost Per Gun Name</h2>
                    <div id="chart14"></div>

                  </div>

                  <div class="product-bottom-chart-left top-chart-box"
                    style="margin-right: 5px; height: 525px; width: 50%;">
                    <h2 class="heading">Number of Gun Acquired Per Date</h2>
                    <div id="chart16"></div>
                  </div>

                </div>

              </div>

            </div>
          </div>

      </section>

      <!-- date -->
      <script>
        document.getElementById('monthDropdown').addEventListener('change', function () {
          // Get selected month value
          const selectedMonth = this.value;
          // Get current year
          const currentYear = new Date().getFullYear();
          // Calculate start and end dates based on selected month
          const formattedStartDate = `${currentYear}-${selectedMonth}-01`;
          const formattedEndDate = `${currentYear}-${selectedMonth}-${new Date(currentYear, selectedMonth, 0).getDate()}`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
      
            this.classList.add('activeDropDown');
          } else {
            charts.forEach(chart => chart.setFilter({}));
      
            this.classList.remove('active');
          }
      
          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });
      </script>

      <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      </script>


      <script>
        const ChartsEmbedSDK = window.ChartsEmbedSDK;

        // Configuration for the MongoDB Charts Embed SDK
        const sdk = new ChartsEmbedSDK({
          baseUrl: "https://charts.mongodb.com/charts-project-0-omorz",
          theme: "dark",
          autoRefresh: true,  // Set autoRefresh to true
          maxDataAge: 30,
        });

        const chartIds = [
          "6492abe4-74f2-4905-805e-f685c6754286",
          "64994e7e-6f89-4b9b-8926-e4595ee18be1",
          "6522ad57-8f60-4161-89ce-00d9b33e9a97",
          "656e819d-5b45-41fd-800f-4e546ee973a5",
          "6492afa8-e63f-4b36-8007-0f06bc0fceb5",
          "649937ab-6ccc-47e8-8431-13e80f87ab31",
          "656e8a83-34eb-4032-859c-a0aca9f4547c",
          "3795cd24-2a80-40dc-b688-2d705e91f425",
          "656e87e5-c69f-4635-8bfb-2b1262bd3e81",
          "64a4e114-bfd6-4c5c-82e1-aed10e4d8504",
          "656e8763-58b4-4616-8034-0724977f05a2",
          "656e8a9e-d7f5-4f16-85f9-78b163731cbe",
          "656fe555-1b88-4220-8649-062eb0e3873e",
          "655ca613-5048-4b0e-8b3b-8d5d6921a74b",
          "656e7ff2-c17b-4bad-8793-31ebb8d7a9f7",
          "656e7f23-257b-4921-8524-892c6b61aad0",
          "656ec9c0-257b-4bd1-882a-892c6babde8c",
          "cb5fc661-3113-40f9-b482-f5edc889ff58",
          "3f80cb2b-b191-4e07-a13f-e694ab19727d",






          "6492af4a-7081-435a-88d2-cbf173aa2add",


          "6499393e-5d6e-4d4b-80e6-5c0004764687",

          "64a7c613-c709-43c3-8b0f-73a5bdd4f530",
          "64a7c276-7fe0-4399-846c-994ad42930fa",
          "64aa6838-5bfe-4e8d-82ec-be414ef2ae74",
          "64aa77c2-c709-44ca-809a-73a5bd6426e9",
          "64aa7bf4-2925-478c-8eff-15cc0ae2b5da",
          "64aa808f-904b-4bad-810f-87a9d4d94c75",
          "655ca36a-5d06-4ec9-8022-76093bc0c619",

          "655ca9ac-6cc5-43e1-8110-0464683107a5",
          "654cf4ee-df50-461e-8018-1d9cd1828f33",

        ];

        const charts = chartIds.map(chartId => sdk.createChart({ chartId }));

        charts.forEach((chart, index) => {
          chart.render(document.getElementById(`chart${index + 1}`));
        });

        // Function to handle chart refresh


        function handleFilterSubmit(event) {
          event.preventDefault();
          const today = new Date();
          const month = today.getMonth() + 1; // Month is 0-based

          const startDate = document.getElementById("startDate").value;
          const endDate = document.getElementById("endDate").value;

          if (startDate && endDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: startDate } },
                  { turnOver: { $lte: endDate } }
                ]
              });
              console.log(startDate);
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }
        }
      </script>

</body>

<style>
  html {
    font-size: 62.5%;
  }

  .dashboard_content {
    background: #18242c;
    display: flex;
    overflow-x: hidden;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    font-size: 2.5rem;
    color: #fcfcfc;
    font-weight: 500;
    text-align: left;
  }
  .heading2 {
    font-size: 2.5rem;
    color: #fcfcfc;
    font-weight: 500;
    text-align: center;
    min-width: 165%;
  }


  .content {
    flex: 1;
    display: flex;
  }

  /* Main Content */
  .main-content {

    padding: 0 3rem 3rem 3rem;
    width: 100%;
  }

  .head {
    justify-content: space-between;
  }

  .head h1 {
    flex: 1;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
  }


  .box .angle {
    margin-left: 10px;
  }

  /* top-chart */
  .top-chart {
    background: #21313C;
    margin-top: 4rem;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    justify-content: space-between;
  }

  .top-chart2 {
    background: #21313C;
    margin-top: 4rem;
    font-size: 1.6rem;
    justify-content: flex-start;
    
   

  }


  #chart1,
  #chart2,
  #chart3,
  #chart4 {
    height: 225px;
  }

  #chart5,
  #chart6,
  #chart9 {
    height: 450px;

  }

  #chart8{
    height: 475px;
  }

  #chart7 {
    height: 625px;
  }


  #chart10 {
    height: 275px;
  }

  #chart11,
  #chart12,
  #chart13,
  #chart14,
  #chart15,
  #chart16,
  #chart17,
  #chart18,
  #chart19 {
    height: 450px;
  }

  .top-chart-box {
    min-height: 30rem;
    padding: 2rem 1rem;

  }

  .top-chart-box .heading {
    margin-bottom: 2rem;
  }

  .bottom-chart-left {
    flex: 0 0 60%;
  }

  .bottom-chart-right {
    background: #334c5d;
    width: 38%;
  }

  .bottom-chart-right-amount {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
  }

  /* Product bottom-chart-left */
  .product-top-chart {
    justify-content: space-between;
    margin-top: 2rem;

  }

  .product-top-chart .top-chart-box {
    background: #21313C;

  }

  .product-bottom-chart-left {
    width: 38%;

  }
  

  .bottom-chart {
    width: 60%;
  }


  .top-chart-box,
  .product-top-chart .top-chart-box,
  .bottom-chart-right {
    transition: transform 0.3s ease-in-out;
  }

  .top-chart-box:hover,
  .product-top-chart .top-chart-box:hover,
  .bottom-chart-right:hover {
    transform: scale(1.1);
  }

  hr {
    margin-bottom: 20px;
  }

  /* Responsive */
  @media (max-width: 1200px) {
    .dashboard_content {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  @media (max-width: 1180px) {
    html {
      font-size: 50%;
    }
  }

  @media (max-width: 1050px) {
    html {
      font-size: 50%;
    }
  }

  @media (max-width: 1000px) {
    .content {
      flex-direction: column;
    }



    .main-content {
      width: 100%;
    }

    .title {
      display: none;
    }




  }

  @media (max-width: 850px) {


    .navigation {
      display: flex;
    }



    .content {
      margin-top: 85px;
    }
  }

  @media (max-width: 750px) {
    .top-chart {
      flex-direction: column;
      background: none;
    }

    .bottom-chart-left,
    .bottom-chart-right {
      width: 100%;
      margin: 20px 0;
      background: #3f2532;
    }


  }

  @media (max-width: 650px) {

    .navigation,
    .settings {
      display: none;
    }


    .main-content {
      padding: 1rem;
    }

    .product-top-chart {
      flex-direction: column;
    }

    .product-bottom-chart-left,
    .bottom-chart {
      width: 95%;
      padding: 2rem 4rem;
      margin: 20px auto;
    }

    .product-bottom-chart-left {
      width: 60%;
    }
  }

  @media (max-width: 550px) {

    .product-bottom-chart-left,
    .bottom-chart {
      width: 100%;
    }

  }

  @media (max-width: 300px) {
    html {
      font-size: 35%;
    }
  }
</style>

</html>