<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="Website Icon" type="png" href="logo_pnp.png">
  <title> Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/index_style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>

</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <img src="pnp-male.jpg" alt="" class="circle-image">
      <% if (user.usertype==='Admin' ) { %>
      <span class="logo_name">Admin</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/index" id="home-link" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a id="datatable-link" href="/DataTable">
          <i class='bx bx-table'></i>
          <span class="links_name">Records</span>
        </a>
      </li>
      <li>
        <a id="scanner-link" href="/scanner">
          <i class='bx bx-scan'></i>
          <span class="links_name">Scanner</span>
        </a>
      </li>
      <li>
        <a id="admin-table-link" href="/admin/table">
          <i class='bx bx-user'></i>
          <span class="links_name">Manager</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book'></i>
          <span class="links_name">Help</span>
        </a>
      </li>

      <li class="log_out">
        <a id="logout-link" href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <% } else { %>

    <span class="logo_name">Manager</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/index" id="home-link" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a id="datatable-link" href="/DataTable">
        <i class='bx bx-table'></i>
        <span class="links_name">Records</span>
      </a>
    </li>
    <li>
      <a id="scanner-link" href="/scanner">
        <i class='bx bx-scan'></i>
        <span class="links_name">Scanner</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-book'></i>
        <span class="links_name">Help</span>
      </a>
    </li>

    <li class="log_out">
      <a id="logout-link" href="/logout">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
<% } %>
<!-- Current Active Link -->
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>

    </nav>


    <div class="home-content">
      <form onsubmit="handleFilterSubmit(event)" class="custom-form">
        <h1 class="form-title">Select Date Range for Acquisition</h1>
        <div class="form-row">
          <div class="form-group col">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" class="custom-input" required>
          </div>
          <div class="form-group col">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="endDate" class="custom-input" required>
          </div>
          <div class="form-group col">
            <button type="submit" class="custom-button primary">Submit</button>
            <button type="reset" class="custom-button secondary">Reset</button>
          </div>
        </div>
      </form>

      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Gun</div>
            <div class="chart-top" id="chart1"></div>
          </div>
          <i class='bx bx-crosshair cart one'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Cost</div>
            <div class="chart-top" id="chart2"></div>
          </div>
          <i class='bx bx-dollar-circle cart two'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Turnover Rate</div>
            <div class="chart-top" id="chart13"></div>
          </div>
          <i class='bx bx-line-chart cart three'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Authorized Users</div>
            <div class="chart-top" id="chart15"></div>
          </div>
          <i class='bx bx-user cart four'></i>
        </div>
      </div>

      <div class="main-boxes">
        <div class="right-boxes box">
          <div class="title">Number of Officers per Rank</div>
          <div class="box-details">
            <div class="chart-left" id="chart3"></div>
          </div>

        </div>
        <div class="left-boxes box">
          <div class="title">Guns per Gun Type</div>
          <ul class="top-box-details">
            <div class="chart-right" id="chart5"></div>
          </ul>
        </div>
      </div>

      <div class="main-boxes">
        <div class="right-boxes box">
          <div class="title">Number of Guns per Station</div>
          <div class="box-details">
            <div class="chart-left" id="chart4"></div>
          </div>

        </div>
        <div class="left-boxes box">
          <div class="title">Guns per Calibre</div>
          <ul class="top-box-details">
            <div class="chart-right" id="chart6"></div>
          </ul>
        </div>
      </div>

      <div class="main-boxes">
        <div class="right-boxes box">
          <div class="title">Number of Guns per Gun Name</div>
          <div class="box-details">
            <div class="chart-left" id="chart7"></div>
          </div>

        </div>
        <div class="left-boxes box">
          <div class="title">Total Cost per Gun Type</div>
          <ul class="top-box-details">
            <div class="chart-right" id="chart8"></div>
          </ul>
        </div>
      </div>

      <div class="main-boxes">
        <div class="right-boxes box">
          <div class="title">Scanned QR Code to Gun Numbers</div>
          <div class="box-details">
            <div class="chart-left" id="chart9"></div>
          </div>

        </div>
        <div class="left-boxes box">
          <div class="title">Gun Acquisitions per Date</div>
          <ul class="top-box-details">
            <div class="chart-right" id="chart10"></div>
          </ul>
        </div>
      </div>

      <div class="main-boxes">
        <div class="right-boxes box">
          <div class="title">Total Cost per Acquisition</div>
          <div class="box-details">
            <div class="chart-left" id="chart11"></div>
          </div>

        </div>
        <div class="left-boxes box">
          <div class="title">Accumulated Costs</div>
          <ul class="top-box-details">
            <div class="chart-right" id="chart12"></div>
          </ul>
        </div>
      </div>

      <div class="main-boxes">
        <div class="right-boxes2 box">
          <div class="title2">Gun Type by Rank</div>
          <div class="box-details">
            <div class="chart-left" id="chart14"></div>
          </div>
        </div>

      </div>

    </div>



  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>


  <script>
    const ChartsEmbedSDK = window.ChartsEmbedSDK;

    const sdk = new ChartsEmbedSDK({
      baseUrl: "https://charts.mongodb.com/charts-project-0-omorz",
    });

    const chartIds = [
      "6492abe4-74f2-4905-805e-f685c6754286",
      "64994e7e-6f89-4b9b-8926-e4595ee18be1",
      "6492afa8-e63f-4b36-8007-0f06bc0fceb5",
      "6492af4a-7081-435a-88d2-cbf173aa2add",
      "64a4e114-bfd6-4c5c-82e1-aed10e4d8504",
      "6499393e-5d6e-4d4b-80e6-5c0004764687",
      "649937ab-6ccc-47e8-8431-13e80f87ab31",
      "64a7c613-c709-43c3-8b0f-73a5bdd4f530",
      "64a75be6-7fe0-4990-8c22-994ad4f608cf",
      "64a7c276-7fe0-4399-846c-994ad42930fa",
      "64aa6838-5bfe-4e8d-82ec-be414ef2ae74",
      "64aa77c2-c709-44ca-809a-73a5bd6426e9",
      "64aa7bf4-2925-478c-8eff-15cc0ae2b5da",
      "64aa808f-904b-4bad-810f-87a9d4d94c75",
      "6522ad57-8f60-4161-89ce-00d9b33e9a97",
    ];

    const charts = chartIds.map(chartId => sdk.createChart({ chartId }));

    charts.forEach((chart, index) => {
      chart.render(document.getElementById(`chart${index + 1}`));
    });

    function handleFilterSubmit(event) {
      event.preventDefault();
      const today = new Date();
      const month = today.getMonth() + 1; // Month is 0-based

      const startDate = document.getElementById("startDate").value;
      const endDate = document.getElementById("endDate").value;

      if (startDate && endDate) {
        charts.forEach(chart => {
          chart.setFilter({
            $and: [
              { acquisition: { $gte: startDate } },
              { acquisition: { $lte: endDate } }
            ]
          });
        });
      } else {
        // If either start date or end date is not selected, remove the filter
        charts.forEach(chart => chart.setFilter({}));
      }
    }



  </script>

</body>

</html>