<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="Website Icon" type="png" href="logo_npd.png" />
  <title> Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/index_style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>

</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <img src="pnp-male.jpg" alt="" class="circle-image">
      <% if (user.usertype==='Admin' ) { %>
        <span class="logo_name">
          <%= user.firstName%>
            <p style="font-size: small;">(Admin)</p>
        </span>

    </div>
    <ul class="nav-links">
      <li>
        <a href="/index" id="home-link" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a id="datatable-link" href="/DataTable">
          <i class='bx bx-table'></i>
          <span class="links_name">Records</span>
        </a>
      </li>
      <li>
        <a id="scanner-link" href="/scanner">
          <i class='bx bx-scan'></i>
          <span class="links_name">Scanner</span>
        </a>
      </li>
      <li>
        <a id="admin-table-link" href="/admin/table">
          <i class='bx bx-user'></i>
          <span class="links_name">Manager</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book'></i>
          <span class="links_name">Help</span>
        </a>
      </li>

      <li class="log_out">
        <a id="logout-link" href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <% } else { %>

    <span class="logo_name">
      <%= user.firstName%>
    </span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/profile/<%= user._id%>" id="home-link" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li>
        <a href="/index" id="home-link" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a id="datatable-link" href="/DataTable">
          <i class='bx bx-table'></i>
          <span class="links_name">Records</span>
        </a>
      </li>
      <li>
        <a id="scanner-link" href="/scanner">
          <i class='bx bx-scan'></i>
          <span class="links_name">Scanner</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-book'></i>
          <span class="links_name">Help</span>
        </a>
      </li>

      <li class="log_out">
        <a id="logout-link" href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
    </div>
    <% } %>
      <!-- Current Active Link -->
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
          </div>

        </nav>


        <div class="home-content2">
          <form onsubmit="handleFilterSubmit(event)" class="custom-form2">
            <div style="display: none;"">
                <input  id="startDate" name="startDate" class="custom-input" required>
                <input  id="endDate" name="endDate" class="custom-input" required>
            </div>
              <div >
                <button id="July" class="custom-button primary">July</button>
                <button id="August" class="custom-button primary">August</button>
                <button id="September" class="custom-button primary">September</button>
                <button id="October" class="custom-button primary">October</button>
                <button id="November" class="custom-button primary">November</button>
                <button id="December" class="custom-button primary">December</button>
                <a href="/index" class="custom-button secondary">Reset</a>
              </div>
            </div>
          </form>


          <div class="dashboard_content">


            <div class="content">
              <!-- Main Content -->
              <div class="main-content">
                <div class="top-chart flex">
                  <div class="top-chart-box bottom-chart-left">
                    <h2 class="heading">Number of Officers per Rank</h2>
                    <div id="chart3"></div>
                  </div>

                  <div class="top-chart-box bottom-chart-right">
                    <h2 class="heading">Total Gun</h2>

                    <div id="chart1"></div>
                  </div>
                </div>


                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box">
                    <h2 class="heading">Authorized Users</h2>
                    <div id="chart14"></div>
                    
                    <hr>
                    <h2 class="heading">Turnover Rate</h2>
                    <div id="chart12"></div>
                  </div>

                  <div class="bottom-chart top-chart-box">
                    <h2 class="heading">Total Cost per Acquisition</h2>
                    <div id="chart10"></div>
                  </div>
                </div>

                <div class="top-chart flex">
                  <div class="top-chart-box bottom-chart-left">
                    <h2 class="heading">Number of Guns per Gun Name</h2>
                    <div id="chart7"></div>
                    
                  </div>
                  
                  <div class="top-chart-box bottom-chart-right">
                    
                    <h2 class="heading">Firearm Type Distribution</h2>
                    <div id="chart5"></div>
                  </div>

                </div>


                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box">
                    <h2 class="heading">Turnover Rate</h2>
                    <div id="chart6"></div>
                  </div>

                  <div class="bottom-chart top-chart-box">
                    <h2 class="heading">Total Cost per Gun Type</h2>
                    <div id="chart8"></div>
                  </div>
                </div>


                <div class="top-chart flex">
                  <div class="top-chart-box bottom-chart-left">
                    <h2 class="heading">Gun Type Distribution</h2>
                    <div id="chart13"></div>
                  </div>

                  <div class="top-chart-box bottom-chart-right">
                    <h2 class="heading">Total Cost</h2>
                    <div id="chart2"></div>
                  </div>
                </div>


                <div class="product-top-chart flex">
                  <div class="product-bottom-chart-left top-chart-box">
                    <h2 class="heading">Return Frequency Analysis</h2>
                    <div id="chart17"></div>
                  </div>

                  <div class="bottom-chart top-chart-box">
                    <h2 class="heading">Gun Type by Rank</h2>
                    <div id="chart9"></div>
                  </div>
                </div>


                <div class="top-chart flex">
                  <div class="top-chart-box bottom-chart-left">
                    <h2 class="heading">Average Cost of Firearms by Gun Name</h2>
                    <div id="chart16"></div>
                  </div>
                  <div class="top-chart-box bottom-chart-right">
                    <h2 class="heading">Turn Over Rate By Date</h2>
                    <div id="chart18"></div>
                  </div>

                </div>


                
                <div class="top-chart2 flex">
                  <div class="top-chart-box bottom-chart-left">
                    <h2 class="heading2">Not unscanned</h2>
                    <div id="chart19"></div>
                  </div>


                </div>


              </div>

            </div>
          </div>

      </section>

      <!-- date -->
      <script>
        document.getElementById('July').addEventListener('click', function () {
          // Get current month and year
          const currentYear = new Date().getFullYear();
          const formattedStartDate = `${currentYear}-07-01`;
          const formattedEndDate = `${currentYear}-07-31`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }

          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });

        document.getElementById('August').addEventListener('click', function () {
          // Get current month and year
          const currentYear = new Date().getFullYear();
          const formattedStartDate = `${currentYear}-08-01`;
          const formattedEndDate = `${currentYear}-08-31`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }

          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });

        document.getElementById('September').addEventListener('click', function () {
          // Get current month and year
          const currentYear = new Date().getFullYear();
          const formattedStartDate = `${currentYear}-09-01`;
          const formattedEndDate = `${currentYear}-09-31`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }

          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });

        document.getElementById('October').addEventListener('click', function () {
          // Get current month and year
          const currentYear = new Date().getFullYear();
          const formattedStartDate = `${currentYear}-10-01`;
          const formattedEndDate = `${currentYear}-10-31`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }

          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });

        document.getElementById('November').addEventListener('click', function () {
          // Get current month and year
          const currentYear = new Date().getFullYear();
          const formattedStartDate = `${currentYear}-11-01`;
          const formattedEndDate = `${currentYear}-11-31`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }
          
          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });

        document.getElementById('December').addEventListener('click', function () {
          // Get current month and year
          const currentYear = new Date().getFullYear();
          const formattedStartDate = `${currentYear}-12-01`;
          const formattedEndDate = `${currentYear}-12-31`;

          if (formattedStartDate && formattedEndDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: formattedStartDate } },
                  { turnOver: { $lte: formattedEndDate } }
                ]
              });
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }
          
          // Set the start and end date input values
          document.getElementById('startDate').value = formattedStartDate;
          document.getElementById('endDate').value = formattedEndDate;
        });
        </script>

      <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      </script>


      <script>
        const ChartsEmbedSDK = window.ChartsEmbedSDK;

        // Configuration for the MongoDB Charts Embed SDK
        const sdk = new ChartsEmbedSDK({
          baseUrl: "https://charts.mongodb.com/charts-project-0-omorz",
          theme: "dark",
          autoRefresh: true,  // Set autoRefresh to true
          maxDataAge: 30,
        });

        const chartIds = [
          "6492abe4-74f2-4905-805e-f685c6754286",
          "64994e7e-6f89-4b9b-8926-e4595ee18be1",
          "6492afa8-e63f-4b36-8007-0f06bc0fceb5",
          "6492af4a-7081-435a-88d2-cbf173aa2add",
          "64a4e114-bfd6-4c5c-82e1-aed10e4d8504",
          "6499393e-5d6e-4d4b-80e6-5c0004764687",
          "649937ab-6ccc-47e8-8431-13e80f87ab31",
          "64a7c613-c709-43c3-8b0f-73a5bdd4f530",
          "64a7c276-7fe0-4399-846c-994ad42930fa",
          "64aa6838-5bfe-4e8d-82ec-be414ef2ae74",
          "64aa77c2-c709-44ca-809a-73a5bd6426e9",
          "64aa7bf4-2925-478c-8eff-15cc0ae2b5da",
          "64aa808f-904b-4bad-810f-87a9d4d94c75",
          "6522ad57-8f60-4161-89ce-00d9b33e9a97",
          "655ca36a-5d06-4ec9-8022-76093bc0c619",
          "655ca613-5048-4b0e-8b3b-8d5d6921a74b",
          "655ca9ac-6cc5-43e1-8110-0464683107a5",
          "654cf4ee-df50-461e-8018-1d9cd1828f33",
          "3795cd24-2a80-40dc-b688-2d705e91f425",
        ];

        const charts = chartIds.map(chartId => sdk.createChart({ chartId }));

        charts.forEach((chart, index) => {
          chart.render(document.getElementById(`chart${index + 1}`));
        });

        // Function to handle chart refresh


        function handleFilterSubmit(event) {
          event.preventDefault();
          const today = new Date();
          const month = today.getMonth() + 1; // Month is 0-based

          const startDate = document.getElementById("startDate").value;
          const endDate = document.getElementById("endDate").value;

          if (startDate && endDate) {
            charts.forEach(chart => {
              chart.setFilter({
                $and: [
                  { turnOver: { $gte: startDate } },
                  { turnOver: { $lte: endDate } }
                ]
              });
              console.log(startDate);
            });
          } else {
            // If either start date or end date is not selected, remove the filter
            charts.forEach(chart => chart.setFilter({}));
          }
        }
      </script>

</body>

<style>
  html {
    font-size: 62.5%;
  }

  .dashboard_content {
    background: #18242c;
    display: flex;
    overflow-x: hidden;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    font-size: 2.5rem;
    color: #fcfcfc;
    font-weight: 500;
    text-align: left;
  }
  .heading2 {
    font-size: 2.5rem;
    color: #fcfcfc;
    font-weight: 500;
    text-align: center;
    min-width: 165%;
  }


  .content {
    flex: 1;
    display: flex;
  }

  /* Main Content */
  .main-content {

    padding: 0 3rem 3rem 3rem;
    width: 100%;
  }

  .head {
    justify-content: space-between;
  }

  .head h1 {
    flex: 1;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
  }


  .box .angle {
    margin-left: 10px;
  }

  /* top-chart */
  .top-chart {
    background: #21313C;
    margin-top: 4rem;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    justify-content: space-between;
  }

  .top-chart2 {
    background: #21313C;
    margin-top: 4rem;
    font-size: 1.6rem;
    justify-content: flex-start;
    
   

  }


  #chart1 {
height: 300px;
  }

  #chart2 {
    height: 300px;
  }

  #chart3 {
    height: 300px;
  }

  #chart4 {
    height: 300px;
  }

  #chart5 {
    height: 350px;
    
  }

  #chart6 {
    height: 300px;
  }
  #chart7 {
    height: 400px;
  }

  #chart8 {
    height: 300px;
  }

  #chart9 {
    height: 300px;
  }

  #chart10 {
    height: 500px;
  }

  #chart11 {
    height: 500px;
    min-width: 165%;
  }
  #chart12 {
    height: 225px;
  }
  #chart13 {
    height: 300px;
  }
  #chart14 {
    height: 225px;
  }
  #chart15 {
    height: 300px;
  }
  #chart16 {
    height: 500px;
  }

  #chart17 {
    height: 300px;
  }
  #chart18 {
    height: 500px;
  }
  #chart19 {
    height: 500px;
  }

  .top-chart-box {
    min-height: 30rem;
    padding: 2rem 1rem;

  }

  .top-chart-box .heading {
    margin-bottom: 2rem;
  }

  .bottom-chart-left {
    flex: 0 0 60%;
  }

  .bottom-chart-right {
    background: #334c5d;
    width: 38%;
  }

  .bottom-chart-right-amount {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
  }

  /* Product bottom-chart-left */
  .product-top-chart {
    justify-content: space-between;
    margin-top: 2rem;

  }

  .product-top-chart .top-chart-box {
    background: #21313C;

  }

  .product-bottom-chart-left {
    width: 38%;

  }
  

  .bottom-chart {
    width: 60%;
  }


  .top-chart-box,
  .product-top-chart .top-chart-box,
  .bottom-chart-right {
    transition: transform 0.3s ease-in-out;
  }

  .top-chart-box:hover,
  .product-top-chart .top-chart-box:hover,
  .bottom-chart-right:hover {
    transform: scale(1.1);
  }


  /* Responsive */
  @media (max-width: 1200px) {
    .dashboard_content {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  @media (max-width: 1180px) {
    html {
      font-size: 50%;
    }
  }

  @media (max-width: 1050px) {
    html {
      font-size: 50%;
    }
  }

  @media (max-width: 1000px) {
    .content {
      flex-direction: column;
    }



    .main-content {
      width: 100%;
    }

    .title {
      display: none;
    }




  }

  @media (max-width: 850px) {


    .navigation {
      display: flex;
    }



    .content {
      margin-top: 85px;
    }
  }

  @media (max-width: 750px) {
    .top-chart {
      flex-direction: column;
      background: none;
    }

    .bottom-chart-left,
    .bottom-chart-right {
      width: 100%;
      margin: 20px 0;
      background: #3f2532;
    }


  }

  @media (max-width: 650px) {

    .navigation,
    .settings {
      display: none;
    }


    .main-content {
      padding: 1rem;
    }

    .product-top-chart {
      flex-direction: column;
    }

    .product-bottom-chart-left,
    .bottom-chart {
      width: 95%;
      padding: 2rem 4rem;
      margin: 20px auto;
    }

    .product-bottom-chart-left {
      width: 60%;
    }
  }

  @media (max-width: 550px) {

    .product-bottom-chart-left,
    .bottom-chart {
      width: 100%;
    }

  }

  @media (max-width: 300px) {
    html {
      font-size: 35%;
    }
  }
</style>

</html>