<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                darkb: '#287094 ',
                darkerb: '#023246 ',
                pnp: '#6587b0',
              }
            }
          }
        }
      </script>
  <title>Register</title>
</head>
<body class="bg-pnp">
  <section class="px-6 py-8">
    <main class="max-w-lg mx-auto  p-6 rounded-xl">
        <div class ="border border-gray-200 p-6 rounded-xl">
            <h1 class="text-center font-bold text-xl text-white">Register</h1>


           
            

            <form method="POST" action="/register" class="mt-10">
                    <label class="block mb-2 uppercase font-bold text-xs text-white">Username</label>
                    <input class="border border-gray-200 p-2 w-full" name="username" type="username"  required>

                    <label class="block mb-2 uppercase font-bold text-xs text-white">Email</label>
                    <input class="border border-gray-200 p-2 w-full" name="email" type="email" required>

                    <label class="block mb-2 uppercase font-bold text-xs text-white">Password</label>
                    <input  class="border border-gray-200 p-2 w-full" name="password" type="password"  required>
                    
                  <div class="d-flex pt-2 flex-row align-items-center mb-4">
                    <label class="block mb-2 uppercase font-bold text-xs text-white" for="form3Example4cd">Login Type:</label>
                    <div class="form-outline flex-fill mb-0">  
                      <select name="usertype" class="form-control">
                        <option value="User">User</option>
                        <option value="Manager">Manager</option>
                        <option value="Admin">Admin</option>
                      </select>
                    </div>
                  </div>
      
                        <div class="mt-6">
                          <button type="submit" class="bg-darkb text-white uppercase font-semibold text-xs py-2 px-10 rounded-2xl hover:bg-darkerb"
                                  > Register
                          </button>
                          <a type="button" href="/login" class="bg-darkb text-white uppercase font-semibold text-xs py-2 ml-20 px-10 rounded-2xl hover:bg-darkerb"
                          > Login
                        </a>
                      </div>
            </form>
        </div>
    </main>
</section>
</body>
</html>
