<!DOCTYPE html>
<html>
<head>
  <title>Creating</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  <style>
    /* Your CSS styles here */
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 border border-white p-4 rounded bg-white">
        <form id="myForm" method="POST" action="/test">
          <div class="form-row">
            <% if (typeof ErrorMessage !== 'undefined') { %>
              <p style="color: red;"><%= ErrorMessage %></p>
            <% } else if (typeof SuccessMessage !== 'undefined') { %>
              <p style="color: green;"><%= SuccessMessage %></p>
            <% } %>
            <div class="form-group col-md-5">
              <label for="inputEmail4">Gun Type</label>
              <input type="text" class="form-control" placeholder="Gun Type" name="Gtype" autocomplete="Gtype" required min="4" pattern="^[A-Z][a-zA-Z]*$">
            </div>
            <div class="form-group col-md-5">
              <label for="inputEmail4">Gun Name</label>
              <input type="text" class="form-control" placeholder="Gun Name" name="Gname" autocomplete="Gname" required min="4" pattern="^[A-Z][a-zA-Z]*$">
            </div>
          </div>

          
          <div class="form-group">
            <div class="form-check">
            </div>
            <button type="button" id="generateBtn" class="button btn btn-primary">Generate QR Code</button>
          </div>

        </form>

        <div class="qr-code-container"></div>
        <button type="button" id="confirmBtn" class="button btn btn-success" style="display: none;">Confirm</button>
      </div>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let generateBtn = document.getElementById("generateBtn");
      let confirmBtn = document.getElementById("confirmBtn");
      let qrCodeContainer = document.querySelector(".qr-code-container");

      generateBtn.addEventListener("click", async (event) => {
        event.preventDefault();

        let Gtype = document.querySelector("input[name='Gtype']").value;
        let Gname = document.querySelector("input[name='Gname']").value;

        if (Gtype !== "" && Gname !== "") {
          let userDetails = `${Gtype} ${Gname}`;

          generateQRCode(userDetails);

          generateBtn.style.display = "none";
          confirmBtn.style.display = "block";
        } else {
          console.log("Invalid input");
          qrCodeContainer.style.display = "none";
        }
      });

      confirmBtn.addEventListener("click", function(event) {
        event.preventDefault();
        document.getElementById("myForm").submit();
      });

      async function generateQRCode(userDetails) {
        qrCodeContainer.style.display = "";
        var size = 220;

        var qrcode = new QRCode(qrCodeContainer, {
          text: userDetails,
          width: size,
          height: size,
          colorDark: "#3BA676",
          colorLight: "#222",
          correctLevel: QRCode.CorrectLevel.H,
        });
      }
    });
  </script>
</body>
</html>
