<!DOCTYPE html>
<html>
<head>
  <title>QR Code Scanner</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
    .result {
      background-color: green;
      color: #fff;
      padding: 20px;
    }
    .row {
      display: flex;
    }
    .result-group {
      display: none;
    }
    .result-group.show {
      display: block;
    }
    </style>
</head>
<%- include('../components/navbar') %>
<body>
  <div class="row">
    <div class="col">
      <div style="width: 600px;" id="reader"></div>
    </div>
    <div class="col" style="padding: 30px;">
      <h4>SCAN RESULT</h4>
      <form id="result-form" class="result-group" >
        <div>
          <!-- mag full namae pa ba o wag na -->
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName">
<!-- <br>
          <label for="updated">update:</label>
          <input type="text" id="updated" name="updated"> -->
        </div>

        <div>
          <!-- Label only or may input ikaw na bahala hahaha -->
          <label for="field1">Last Name:</label>
          <input type="text" id="field1" name="field2">
        </div>

        <div>
          <label for="field2">First Name:</label>
          <input type="text" id="field2" name="field2">
        </div>

        <div>
          <label for="field3">Middle Name:</label>
          <input type="text" id="field3" name="field3">
        </div>

        <div>
          <label for="field4">Qualifiers:</label>
          <input type="text" id="field4" name="field4">
        </div>

        <div>
          <label for="field5">Rank:</label>
          <input type="text" id="field5" name="field5">
        </div>

        <div>
          <label for="field6">Station: <span id="field6"> </span></label>
        </div>

        <div>
          <label for="field7">Gun Type:</label>
          <input type="text" id="field7" name="field7">
        </div>

        <div>
          <label for="field8">Gun Name:</label>
          <input type="text" id="field8" name="field8">
        </div>

        <div>
          <label for="field9">Caliber:</label>
          <input type="text" id="field9" name="field9">
        </div>

        <div>
          <label for="field10">Serial Number:</label>
          <input type="text" id="field10" name="field10">
        </div>

        <div>
          <label for="field11">Cost:</label>
          <input type="text" id="field11" name="field11">
        </div>

        <div>
          <label for="field12">Acquisition Date:</label>
          <input type="text" id="field12" name="field12">
        </div>

        <div>
          <label for="field13">Turn Over Date:</label>
          <input type="text" id="field13" name="field13">
        </div>

        <div>
          <label for="field14">Returned Date:</label>
          <input type="text" id="field14" name="field14">
        </div>

      </form>
    </div>
  </div>

  <script type="text/javascript">
  var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
  html5QrcodeScanner.render(onScanSuccess, onScanError);

  function onScanSuccess(qrCodeMessage) {
    //Show the scann result with an split data and put it in the form
    var splitMessage = qrCodeMessage.split(' ');
    // pag label lang textContent gamitin, pag may input .value lang
    document.getElementById('field1').value = splitMessage[0];
    document.getElementById('field2').value = splitMessage[1];
    document.getElementById('field3').value = splitMessage[2];
    document.getElementById('field4').value = splitMessage[3];
    document.getElementById('field5').value = splitMessage[4];
    document.getElementById('field6').textContent = splitMessage[5];
    document.getElementById('field7').value = splitMessage[6];
    document.getElementById('field8').value = splitMessage[7];
    document.getElementById('field9').value = splitMessage[8];
    document.getElementById('field10').value = splitMessage[9];
    document.getElementById('field11').value = splitMessage[10];
    document.getElementById('field12').value = splitMessage[11];
    document.getElementById('field13').value = splitMessage[12];
    document.getElementById('field14').value = splitMessage[13];
    
    //the cuztomize fields 
    var fullName = splitMessage.slice(0, 4).join(' ');
    document.getElementById('fullName').value = fullName;



    //the splitMessage will go to form automatically
    document.getElementById('result-form').classList.add('show');
  }
  function onScanError(errorMessage) {
    console.error(errorMessage);
  }
  
  </script>
</body>
</html>